@forward '../../styles/globals/';
@use '../../styles/util/' as u1;

$color1: #00ffff;

body {
    background-color: #0a0024 !important;
    color: $color1
}
.AppMain {
    @include u1.block_display();

    .topBar {
        display: flex;
        padding: u1.rem(15) 1vw;
        justify-content: space-between;
        align-items: center;

        .topLogo {
            font-size: 30px;
            font-weight: 700;
        }

        .topBtn {
            button {
                padding: 5px 18px;
                border-radius: 4px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .5px;
                background-color: #b873ff;
                color:#0a0024;
            }
        }
    }

    .filterCvr {
        display: flex;
        position: relative;
        padding: 10px 1vw;

        > div {
            margin: 0 30px 0 0;

            button {
                width: 135px;
                position: relative;
                overflow: hidden;
                padding: 0.8em 1.8em;
                border: 2px solid $color1;
                background-color: transparent;
                color: $color1;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                transition: .3s;
                z-index: 1;
                font-family: inherit;
                border-radius: 7px;
                cursor: pointer;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 300%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background: $color1;
                    transition: .5s ease;
                    z-index: -1;
                    border-radius: 7px;
                }

                &:hover::before {
                    width: 105%;
                }

                &:hover {
                    color: #111;
                    font-weight: bold;
                }
                &:active {
                    transform: translateY(3px);
                }
            }
        }
    }

    .moviesCvr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;

        .ImgBoth {
            @include u1.block_display();
            min-width: 22vw;
            width: 22vw;
            margin: u1.rem(30) .5vw;

            .ImgCvr {
                @include u1.block_display();
                width: 100%;
                height: 500px;
                border-radius: 30px;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                }
            }

            .ImgTitle {
                padding: 15px .3vw 0;
                // color: #00e6bd;
                font-weight: bold;
                font-size: clamp(1rem, 1.2vw, 2rem); 
            }
        }
    }
}